<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=usxa85bak8"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <link href="search.css" type="text/css" rel="stylesheet">

    <title> 방구석 힐러 - 검색</title>
</head>

<body>
    <!--사이트 명, 홈버튼, 로그인 페이지-->
    <header>
        <div class="title_main">
            <div id="title_bg">
                <div class="title_bar">
                    <form>
                        <!--onClick 추가-->
                        <span><input id="logo" name="logo" type="button" value="사이트 로고"
                                onClick="location.href='/'" /></span>
                        <span><input id="login" name="login" type="button" value="login" /></span>
                    </form>
                    <br><br>
                </div>
                <div id="title_txt01">재택치료를 위한</div>
                <div id="title_txt02">위치정보 검색+</div>
            </div>
        </div>
    </header>

    <br>

    <main>
        <section>
            <div class="ChoicebtnBlock">
                <!--11-08 서영 : button id 변경-->
                <button type="button" id="hospital" onclick="location.href='searchhospital'">병원</button>
                <button type="button" id="pharmacy" onclick="location.href='searchpharmacy'">약국 / 편의점</button>
                <button type="button" id="pcrCenter" onclick="location.href='searchpcrCenter'">선별진료소</button>
                <button type="button" id="isolation" onclick="location.href='searchisolation'">격리시설</button>
            </div>
        </section>

        <section>
            <!-- 네이버 지도 관련 자바 스크립트 파일 불러오기 -->
            <script src="map.js"></script>

            <div class="mapBlock">
                <div id="map" style="width : 100%; height:300px;"></div>
            </div>

            <!--검색 바 위치 변경 : 지도 위 -> 지도 밑으로 -->
            <div class="searchBlock">
                <!--submit , form 변경-->
                <form action="" method="get">
                    <input id="searchVal" name="search" type="text" placeholder="이름을 입력해주세요 ">

                    <!--이미지 소스 삽입  + 앵커 삽입-->
                    <a href="#map"><input id="btnSearch" name="btnSearch" type="image" src="searchICON.png"
                            alt="검색"></a>

                </form>
            </div>

            <script>
                function indexSubmit() {
                    $.ajax({
                        data: { sOrt: jsonn },
                        async: false,
                        sucess: function (data) {
                            console.log("index submit success!!");
                        },
                        error: function (requrest, status, error) {
                            console.log(error);
                        }
                    });
                    location.href = 'searchpharmacy_distance';


                }

                function sortWay() {
                    var flag = true;
                    sortIndex = [];
                    jsonn = [];



                    var sortSelect = document.getElementById("arrayhsp");
                    var selectedWay = sortSelect.options[sortSelect.selectedIndex].value;

                    if (selectedWay == "ganada") {
                        location.href = "searchpharmacy";

                    } else if (selectedWay == "distance") {
                        var dist = [];

                        <% for (var k = 0; k < model.length; k++) { %>
                            var i = <%= k %>;
                            var wid = <%= model[k].위도 %>;
                            var gyd = <%= model[k].경도%>;

                            var Wdist = Math.abs(mePosW - wid);
                            var Gdist = Math.abs(mePosG - gyd);

                            console.log(wid, gyd);
                            dist.push([(Wdist + Gdist) / 2, i]);
                        <% } %>

                            dist.sort();
                        console.log(dist);

                        for (var i = 0; i < dist.length; i++) {
                            sortIndex[i] = dist[i][1];
                        }
                    }

                    for (var i = 0; i < dist.length; i++) {
                        jsonn.push({
                            dist: dist[i][0],
                            index: dist[i][1]
                        });
                    }

                    indexSubmit();

                }



            </script>
            <div class="arrayBlcok">
                <select name="arrayhsp" id="arrayhsp" onchange="sortWay()">
                    <span>
                        <option value="ganada">가나다 순</option>
                    </span>
                    <span>
                        <option value="distance" selected>가까운 순</option>
                    </span>
                </select>
                <form>
                    <!-- 버튼 아이디 삽입 2022 11 07 김유진 수정 -->
                    <span><input id="b1" name="location" type="button" value="현재 위치 "></span>
                </form>
            </div>
            <div class="resBlock">
                <script>

                    function savewg(hpName, wido, gyeongdo) {
                        hp = hpName;
                        wid = wido;
                        gyd = gyeongdo;

                        var loc = new naver.maps.LatLng(wid, gyd); // 누른버튼의 위도 경도
                        map.setCenter(loc); // 얻은 좌표를 지도의 중심으로 설정합니다.
                        map.setZoom(17);
                        var contentString = [
                            '<div class="iw_inner">',
                            '   <h3>' + hp + '</h3>',
                            '</div>'
                        ].join('');

                        var infowindow = new naver.maps.InfoWindow({ // 정보창 띄위기
                            content: contentString
                        });


                        var marker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(wid, gyd),
                            map: map
                        });

                        infowindow.open(map, marker);

                        naver.maps.Event.addListener(marker, "click", function (e) {
                            if (infowindow.getMap()) {
                                infowindow.close();
                            } else {
                                infowindow.open(map, marker);
                            }
                        })

                    }


                </script>
                <form>
                    <ul id="reslist">
                        <% for(var i=0; i<model.length; i++){ %>
                            <li id=<%=model[i].id %> onclick='savewg("<%= model[i].업체명%>",<%= model[i].위도 %>,<%=
                                            model[i].경도 %>)'>
                                            <div>
                                                <img id="img" name="사진" alt="사진" src="">
                                            </div>
                                            <div class="inform">
                                                <span id="name">
                                                    <%= model[i].업체명 %>
                                                </span>
                                                <span id="tel"> |
                                                    <%= model[i].전화번호 %>
                                                </span>
                                                <span id="address">
                                                    <%= model[i].주소 %>
                                                </span>

                                                <span class="time">평일
                                                    <%= model[i].평일운영시간 %>
                                                </span>
                                                <span class="time">토요일
                                                    <%= model[i].토요일운영시간 %>
                                                </span>
                                                <span class="time">일요일
                                                    <%= model[i].일요일운영시간 %>
                                                </span>
                                            </div>

                                            <!--예약 버튼 클릭 시 예약 팝업창 뜨도록-->
                                            <a href="#pop1" class="btn"><input type="button" id="btnReserve"
                                                    value="예약 하기"></a>

                                            <!--가려질 부분 / opacity : 0-->
                                            <div class="popup" id="pop1">
                                                <a href="#a">닫기</a>
                                                <div id="popupform">
                                                    <form>
                                                        <table>
                                                            <tr>
                                                                <td>이름 :</td>
                                                                <td><input type="text"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>나이 :</td>
                                                                <td><input type="text" placeholder="만 나이를 입력해주세요"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>증상 :</td>
                                                                <td><textarea cols="23" rows="10"></textarea></td>
                                                            </tr>
                                                            <tr>
                                                                <td>필요한 약 :</td>
                                                                <td><input type="text"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>먹고 있는 약 :</td>
                                                                <td><input type="text">
                                                            <tr>
                                                                <td>배달 원하는 시간 :</td>
                                                                <td><textarea cols="23" rows="4"
                                                                        placeholder="가능한 시간대를 모두 작성해주세요"></textarea>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <input id="btnSub" type="submit" value="제출"
                                                            onclick="alert('제출이 완료되었습니다');location.href='#a'">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="dim">

                                            </div>
                                            <!--여기까지-->
                            </li>
                            <% } %>
                                <!--<span><input name="add" type="button" value="더보기"></span>-->
                </form>
            </div>
        </section>
    </main>

    <footer>
        <!--사이트 정보-->
        <div id="bottomContents">
            <span>이미지1</span>
            <span>이미지2</span>
            <span>이미지3</span>
            사이트 정보 입력 예정
        </div>
    </footer>
    </footer>
</body>

</html>